<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Path" value="D:\Kausar\AWS\"/>
    <add key="AccessKey" value="AKIAIPQJ2KDBE2C2UKWA"/>
    <add key="SecreteKey" value="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"/>
    <add key="ConnectionString" value="Data Source=KAUSAR\MSSQLSERVER2016;Initial Catalog=AWSImages;Integrated Security=True;"/>
  <!--Persist Security Info=True;User ID=sa;Password=123;-->
  </appSettings>
</configuration>