<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Path" value="D:\Kausar\"/>
    <add key="AccessKey" value="xxxxx"/>
    <add key="SecreteKey" value="xxx"/>
    <add key="ConnectionString" value="Data Source=KAUSAR\MSSQLSERVER2016;Initial Catalog=AWSImages;Integrated Security=True;"/>
    <add key="Bucket" value="trueagency-minotaur-production"/>
  </appSettings>
</configuration>
